.header--index {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header--product {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
}

.header__logo {
  font-size: 3rem;
}

.header__nav {
  align-content: center;
}

.header__list {
  display: flex;
  gap: 50px;
}

.header__link {
  color: var(--text);
  position: relative;
  padding-block: 0.5em;
}

.header__cart {
  cursor: pointer;
  padding-block: 0.5em;
}
