.header {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
}

.header__logo {
  font-size: 3rem;
}

.header__nav {
  align-content: center;
}

.header__list {
  display: flex;
  gap: 50px;
}

.header__link {
  color: var(--text);
  position: relative;
  padding-block: 0.5em;
}