.header--index {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header--product {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
}

.header__logo {
  color: #fff;
  font-size: 3rem;
}

.header__nav {
  align-content: center;
}

.header__list {
  display: flex;
  gap: 50px;
}

.header__link {
  color: #fff;
  position: relative;
  padding-block: 0.5em;
  font-size: 1.125rem;
}

.header__cart {
  cursor: pointer;
  padding-block: 0.5em;
}
